# 若无法进行正常操作 部分主机可能需要将下面一行最前面的注释符号删除
# RewriteBase /

IndexIgnore *
Options -Indexes
Options +FollowSymlinks

# URL rewriting
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]